Repository nn-students-2021h2/Function_explorer_bot_8, pull requests merged in 2022-02, with the labels that each got.

#24 Analyse function feature
  .gitignore
  .pylintrc
  CONTRIBUTING.md
  README.md
  resources/analysis_patterns.md
  source/conf/config.py
  source/conf/default_config.json
  source/core/chat_bot_template.py
  source/core/handling_msg.py
  source/math/calculus_parser.py
  source/math/graph.py
  source/math/graph_parser.py
  source/math/math_function.py
  source/math/parser.py
  source/math/patterns.json
  tests/test_parser.py
Labels: analysis

#25 Prediction system implementation
  CONTRIBUTING.md
  README.md
  source/core/bot.py
  source/core/handling_msg.py
  source/math/calculus_parser.py
  source/math/graph_parser.py
  source/math/math_function.py
  source/math/parser.py
  source/math/patterns.json
Labels: analysis

#28 Bug fixes!
  source/core/handling_msg.py
  source/math/calculus_parser.py
  source/math/graph.py
  source/math/graph_parser.py
  source/math/math_function.py
Labels: bug

#29 Adding buttons part3
  source/core/bot.py
  source/core/handling_msg.py
Labels: bot, analysis

#32 Database added
  README.md
  requirements.txt
  source/conf/default_config.json
  source/core/bot.py
Labels: documentation, bot

#31 Graph parser remake
  .gitignore
  .pylintrc
  CONTRIBUTING.md
  resources/graph_patterns.md
  source/conf/__init__.py
  source/core/handling_msg.py
  source/math/analyse_patterns.json
  source/math/calculus_parser.py
  source/math/graph.py
  source/math/graph_parser.py
  source/math/graph_patterns.json
  source/math/parser.py
  tests/test_parser.py
Labels: drawing

#33 Logging upgrade
  .gitignore
  README.md
  resources/meme.png
  source/conf/custom_logger.py
  source/core/bot.py
  source/core/handling_msg.py
Labels: enhancement, bot

#34 Visual improvements of result image during analysing
  requirements.txt
  source/core/handling_msg.py
Labels: analysis, visual
